In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

from sklearn.tree import DecisionTreeClassifier #Algorithm to make prediction
from sklearn.model_selection import train_test_split #Calculate accuracy of prediction
from sklearn.metrics import accuracy_score
#from sklearn.externals import joblib

sb.set_style("darkgrid")

In [2]:
# Logical Model Building Process
# Regression
# Classification
# Clustering

In [25]:
df = pd.read_csv("D:\Open Classroom\Data Files\music.csv\music.csv")
df.head()

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1    Jazz
4   29       1    Jazz

In [26]:
X = df.drop(columns = ["genre"]) #Create an Input Model / Prediction
y = df["genre"] #Create Output Model / Target
y

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

#Create an instance for the classidier
model = DecisionTreeClassifier() # Instance of a Model
model.fit(X_train, y_train) #Training the model
predict = model.predict(X_test)# Predict the Outcome
score = accuracy_score(y_test, predict)
score

0.25

In [27]:
2014-1987

27

In [28]:
import pandas as pd
import numpy as np
import graphviz
import matplotlib.pyplot as plt

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree
import joblib

In [29]:
suicide = pd.read_csv("D:\Open Classroom\Data Files\Suicide Rates\master.csv")
suicide.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [30]:
suicide.dropna(axis = "index", how = "any", inplace  = True)

In [31]:
suicide.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8364 entries, 72 to 27819
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             8364 non-null   object
 1   year                8364 non-null   int64
 2   sex                 8364 non-null   object
 3   age                 8364 non-null   object
 4   suicides_no         8364 non-null   int64
 5   population          8364 non-null   int64
 6   suicides/100k pop   8364 non-null   float64
 7   country-year        8364 non-null   object
 8   HDI for year        8364 non-null   float64
 9    gdp_for_year ($)   8364 non-null   object
 10  gdp_per_capita ($)  8364 non-null   int64
 11  generation          8364 non-null   object
dtypes: float64(2), int64(4), object(6)
memory usage: 849.5+ KB

In [32]:
suicide["sex"] = suicide["sex"].replace("male", 1)
suicide["sex"] = suicide["sex"].replace("female", 2)

In [33]:
X = suicide[["sex", "suicides_no"]]
y = suicide["generation"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

model = DecisionTreeClassifier()
model.fit(X_train, y_train)
predict = model.predict(X_test)
score = accuracy_score(y_test, predict)
print(f'Accuracy Score : {round(score, 2)*100} %')

Accuracy Score : 24.0 %

#### Persisting Models

In [34]:
X = suicide[["sex", "suicides_no"]]
y = suicide["generation"]

model = DecisionTreeClassifier()
model.fit(X_train, y_train)

joblib.dump(model, "suicide_rates.joblib")
predict = model.predict([ [1, 193], [0, 20] ])
predict

array(['Boomers', 'Millenials'], dtype=object)

In [35]:
model = joblib.load("suicide_rates.joblib")
predict = model.predict([ [1, 193], [0, 20] ])
predict

array(['Boomers', 'Millenials'], dtype=object)

#### Visualizing Decision Trees

In [36]:
from sklearn import tree
import graphviz


graph = tree.export_graphviz(model, out_file = "suicide_rates.dot", feature_names = ["sex", "suicides_no"], 
                    class_names = sorted(y.unique()), 
                    label = "all", filled = True)
graph = graphviz.Source(graph)
#graph.render("suicide_rates.joblib", view = True)

In [37]:
import pandas as pd
import seaborn as sb
import numpy as np
import matplotlib.pyplot as plt
import joblib

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

#### Load Data

In [38]:
df = pd.read_csv("D:\Open Classroom\Data Files\Student Performance in Exams\StudentsPerformance.csv")
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

#### Data Cleaning

In [39]:
df.dropna(axis = "index", how = "any", inplace = True)

In [40]:
df["gender"].unique()

array(['female', 'male'], dtype=object)

In [41]:
df["race/ethnicity"].unique()

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

#### Creating algorithmic models for prediction

In [42]:
X = df.drop(columns = ["parental level of education", "lunch", "test preparation course", "math score", "reading score", "writing score"])
y = df["parental level of education"]

# X - Input Model
# y - Output model / Prediction

X["gender"] = X["gender"].replace("female", 1) 
X["gender"] = X["gender"].replace("male", 0) 

X["race/ethnicity"] = X["race/ethnicity"].replace("group A", 1)
X["race/ethnicity"] = X["race/ethnicity"].replace("group B", 2)
X["race/ethnicity"] = X["race/ethnicity"].replace("group C", 3)
X["race/ethnicity"] = X["race/ethnicity"].replace("group D", 4)
X["race/ethnicity"] = X["race/ethnicity"].replace("group E", 5)


model = DecisionTreeClassifier()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

predict = model.fit(X_train, y_train)

score = model.predict(X_test)
acc_score = accuracy_score(y_test, score)
print(f'{round(acc_score, 2)*100} %')

24.0 %

In [43]:
model = DecisionTreeClassifier()
model.fit(X, y)

joblib.dump(model, "parental_education.joblib")

['parental_education.joblib']

In [44]:
model = joblib.load("parental_education.joblib")

predict = model.predict([ [0, 3], [1, 3] ])
predict

array(['high school', "associate's degree"], dtype=object)

In [47]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import numpy as np

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [48]:
sb.get_dataset_names()

c:\python38\lib\site-packages\seaborn\utils.py:384: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file c:\python38\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [49]:
df = sb.load_dataset("penguins")
df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [50]:
df["island"].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [51]:
df.dropna(axis = "index", how = "any", inplace = True)

In [52]:
X = df.drop(columns = ["species", "bill_length_mm", "bill_depth_mm", "flipper_length_mm", "sex"])
X["island"] = X["island"].replace("Torgersen", 1)
X["island"] = X["island"].replace("Biscoe", 2)
X["island"] = X["island"].replace("Dream", 3)


#X["sex"] = X["sex"].replace("MALE", 0) #Input
#X["sex"] = X["sex"].replace("FEMALE", 1) #Input

y = df["species"] #Output prediction

model = DecisionTreeClassifier() # Creating an instance of a model

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

predict = model.fit(X_train, y_train)
score = model.predict(X_test)
acc_score = accuracy_score(y_test, score)
print(f'{round(acc_score, 2)*100}%')

87.0%

In [53]:
X["island"].unique()
df["species"].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [54]:
pd.set_option("display.max_rows", 500)
df[["species", "island", "body_mass_g"]].head()

  species     island  body_mass_g
0  Adelie  Torgersen       3750.0
1  Adelie  Torgersen       3800.0
2  Adelie  Torgersen       3250.0
4  Adelie  Torgersen       3450.0
5  Adelie  Torgersen       3650.0

In [55]:
import pandas as pd
import numpy as np

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import svm

In [56]:
fruits = pd.Series({"Green": 3, 
                    "Yellow": 3, 
                    "purple": 2, 
                    "Red": 1, 
                    "Yellow": 3})


label = pd.Series({"Green": "Apple", 
                    "Yellow": "Apple", 
                    "purple": "vine", 
                    "Red": "Grape", 
                    "Yellow": "Lemon"})

df = pd.DataFrame({"diameter": fruits, "label": label}) 
df = df.reset_index()
df = df.rename(columns = {"index": "color"})
df
#len(label)

    color  diameter  label
0   Green         3  Apple
1  Yellow         3  Lemon
2  purple         2   vine
3     Red         1  Grape

In [57]:
#c = np.where(df["color"].unique())
df["color"] = df["color"].replace("Green", 0)
df["color"] = df["color"].replace("Yellow", 1)
df["color"] = df["color"].replace("purple", 2)
df["color"] = df["color"].replace("Red", 3)

df.head()

   color  diameter  label
0      0         3  Apple
1      1         3  Lemon
2      2         2   vine
3      3         1  Grape

In [58]:
X = df[["color", "diameter"]]
y = df["label"]

In [59]:
#Using the Decision Tree Classifier to create a model
model = DecisionTreeClassifier()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4)

model.fit(X_train, y_train)
predict = model.predict(X_test)
print(predict)
acc_score = accuracy_score(y_train, predict)
print(acc_score)

['vine' 'Lemon']
1.0

In [60]:
#Using the Support Vector Machine [SVM] classifier

model = svm.SVC(kernel = "linear")
model.fit(X_train, y_train)
predict = model.predict(X_test)
print(predict)
score = model.score(X_test, y_train)
print(score)

['vine' 'Lemon']
1.0

## Regression

In [76]:
import pandas as pd

from sklearn.linear_model import LinearRegression

In [63]:
train_df = pd.read_csv(r"D:\Open Classroom\Data Files\Titanic Competition\train.csv")
test_df = pd.read_csv(r"D:\Open Classroom\Data Files\Titanic Competition\test.csv")

In [72]:
print("Train Dataset: ", train_df.shape)
print("Test Dataset: ", test_df.shape)

Train Dataset:  (891, 12)
Test Dataset:  (418, 11)

In [79]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [82]:
train_df["Fare"].unique()

array([  7.25  ,  71.2833,   7.925 ,  53.1   ,   8.05  ,   8.4583,
        51.8625,  21.075 ,  11.1333,  30.0708,  16.7   ,  26.55  ,
        31.275 ,   7.8542,  16.    ,  29.125 ,  13.    ,  18.    ,
         7.225 ,  26.    ,   8.0292,  35.5   ,  31.3875, 263.    ,
         7.8792,   7.8958,  27.7208, 146.5208,   7.75  ,  10.5   ,
        82.1708,  52.    ,   7.2292,  11.2417,   9.475 ,  21.    ,
        41.5792,  15.5   ,  21.6792,  17.8   ,  39.6875,   7.8   ,
        76.7292,  61.9792,  27.75  ,  46.9   ,  80.    ,  83.475 ,
        27.9   ,  15.2458,   8.1583,   8.6625,  73.5   ,  14.4542,
        56.4958,   7.65  ,  29.    ,  12.475 ,   9.    ,   9.5   ,
         7.7875,  47.1   ,  15.85  ,  34.375 ,  61.175 ,  20.575 ,
        34.6542,  63.3583,  23.    ,  77.2875,   8.6542,   7.775 ,
        24.15  ,   9.825 ,  14.4583, 247.5208,   7.1417,  22.3583,
         6.975 ,   7.05  ,  14.5   ,  15.0458,  26.2833,   9.2167,
        79.2   ,   6.75  ,  11.5   ,  36.75  ,   7.7958,  12.525 ,
        66.6   ,   7.3125,  61.3792,   7.7333,  69.55  ,  16.1   ,
        15.75  ,  20.525 ,  55.    ,  25.925 ,  33.5   ,  30.6958,
        25.4667,  28.7125,   0.    ,  15.05  ,  39.    ,  22.025 ,
        50.    ,   8.4042,   6.4958,  10.4625,  18.7875,  31.    ,
       113.275 ,  27.    ,  76.2917,  90.    ,   9.35  ,  13.5   ,
         7.55  ,  26.25  ,  12.275 ,   7.125 ,  52.5542,  20.2125,
        86.5   , 512.3292,  79.65  , 153.4625, 135.6333,  19.5   ,
        29.7   ,  77.9583,  20.25  ,  78.85  ,  91.0792,  12.875 ,
         8.85  , 151.55  ,  30.5   ,  23.25  ,  12.35  , 110.8833,
       108.9   ,  24.    ,  56.9292,  83.1583, 262.375 ,  14.    ,
       164.8667, 134.5   ,   6.2375,  57.9792,  28.5   , 133.65  ,
        15.9   ,   9.225 ,  35.    ,  75.25  ,  69.3   ,  55.4417,
       211.5   ,   4.0125, 227.525 ,  15.7417,   7.7292,  12.    ,
       120.    ,  12.65  ,  18.75  ,   6.8583,  32.5   ,   7.875 ,
        14.4   ,  55.9   ,   8.1125,  81.8583,  19.2583,  19.9667,
        89.1042,  38.5   ,   7.725 ,  13.7917,   9.8375,   7.0458,
         7.5208,  12.2875,   9.5875,  49.5042,  78.2667,  15.1   ,
         7.6292,  22.525 ,  26.2875,  59.4   ,   7.4958,  34.0208,
        93.5   , 221.7792, 106.425 ,  49.5   ,  71.    ,  13.8625,
         7.8292,  39.6   ,  17.4   ,  51.4792,  26.3875,  30.    ,
        40.125 ,   8.7125,  15.    ,  33.    ,  42.4   ,  15.55  ,
        65.    ,  32.3208,   7.0542,   8.4333,  25.5875,   9.8417,
         8.1375,  10.1708, 211.3375,  57.    ,  13.4167,   7.7417,
         9.4833,   7.7375,   8.3625,  23.45  ,  25.9292,   8.6833,
         8.5167,   7.8875,  37.0042,   6.45  ,   6.95  ,   8.3   ,
         6.4375,  39.4   ,  14.1083,  13.8583,  50.4958,   5.    ,
         9.8458,  10.5167])

In [83]:
x_train = train_df.drop(columns = ["Age"], axis = 1)
y_train = train_df["Age"]

x_test = test_df.drop(columns = ["Age"], axis = 1)
y_test = test_df["Age"]

model = LinearRegression()

model.fit(x_train, y_train)
model

ValueError: could not convert string to float: 'Braund, Mr. Owen Harris'

### Classification

In [65]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [66]:
train_data = pd.read_csv(r"D:\Open Classroom\Data Files\Titanic Dataset\traindata.csv")
test_data = pd.read_csv(r"D:\Open Classroom\Data Files\Titanic Dataset\testdata.csv")

In [67]:
train_data.sample()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
450,0,38.0,8.6625,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [68]:
test_data.sample()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
66,0,29.0,27.7208,0,1,0,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0

#### Define Dependent and Independent Variable

In [69]:
x_train = train_data.drop(columns = ["Survived"], axis = 1) # Train data Predictor 
y_train = train_data["Survived"] # Train data Target

x_test = test_data.drop(columns = ["Survived"], axis = 1) # Test data Predictor
y_test = test_data["Survived"] # Test data Target


model = KNeighborsClassifier()

model.fit(x_train, y_train)

print("Number of neighbors used to predict the Target: ", model.n_neighbors)

train_predict = model.predict(x_train)
print("\n\n Target on Train Dataset: \n", train_predict)

train_acc_score = accuracy_score(y_train, train_predict)
print("\n\nTrain Accuracy Score : ", train_acc_score)

test_predict = model.predict(x_test)
print("\n\n Target on Test Dataset: \n", test_predict)

test_acc_score = accuracy_score(y_test, test_predict)
print("\n\nTest Accuracy Score : ", test_acc_score)

Number of neighbors used to predict the Target:  5


 Target on Train Dataset:
 [0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0
 1 0 0 0 0 0 1 1 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 1 1 1 0 1 0 1 0 0 0 0 0 0
 0 1 1 0 0 0 0 0 1 0 1 0 0 0 1 1 1 0 1 0 0 0 0 0 1 0 0 1 0 1 1 1 0 1 0 1 0
 0 1 1 0 1 0 0 1 0 0 0 0 1 0 0 1 1 0 0 1 0 0 0 1 1 0 1 0 0 0 1 0 0 0 1 0 0
 0 0 0 1 1 0 0 1 0 0 1 0 1 0 0 1 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1
 0 0 1 1 1 0 0 1 0 1 0 0 0 1 1 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 1 0 1 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0
 1 1 1 1 1 0 1 1 1 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 0 0
 0 0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 0 0 0 1 1 0 1 0 0 1
 1 0 0 1 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 1 0 1 0
 0 0 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 0 1 1 1 1 0 0 1 1 0 1 0 1 0 1 1 1 1
 0 1 1 1 0 0 0 0 0 0 1 0 1 0 0 1 0 0 1 1 1 0 0 0 1 0 1 0 0 1 0 0 0 0 1 0 0
 0 1 0 0 0 0 0 0 1 0 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 1 0
 0 0 0 1 1 0 0 0 0 1 1 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1
 1 0 0 0 0 1 0 0 0 1 1 0 0 0 1 1 1 0 0 0 0 0 1 1 0 0 0 0 1 1 1 1 0 1 0 0 0
 0 1 1 1 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 1 0 0 0 1 1 1 0 1 1 1 0
 1 0 0 0 0 1 0 1 0 1 0 1 1 0 0 1 0 1 1 0 1 0 0 0 1 0 1 1 0 0 0 0 1 0 0 0 1
 0 0 0 1 0 1 0 1 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 1 1 1 0 1 0 0 0 1 0 1 0 0 0
 1 1 0 0 0 0 0 1 0 0 1 0 1 0 0 1 1 0 0 0 1 0 1 0 0 1 1 0 0 0 1 0 0 1 0 1 0
 1 0 1 1 1 0 0 1 0]


Train Accuracy Score :  0.8047752808988764


 Target on Test Dataset:
 [0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0
 1 0 0 0 1 0 0 0 1 0 0 1 1 1 0 0 0 1 1 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 1 0 1 0 0 0 1 0 1 1 0 1 1 0 0 1 0 0 1
 0 1 0 0 1 0 1 0 1 1 0 1 0 0 1 1 0 0 1 0 0 0 1 1 0 0 0 1 0 1 0 1 0 0 0 0 0
 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0 0 0 1 1 0 1 0 1 0 0 1 0 0 0 0 0]


Test Accuracy Score :  0.7262569832402235

In [70]:
'''
The following code is for the K-Nearest Neighbors
Created by - ANALYTICS VIDHYA
'''
# importing required libraries
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# read the train and test dataset
train_data = pd.read_csv(r"D:\Open Classroom\Data Files\Titanic Dataset\traindata.csv")
test_data = pd.read_csv(r"D:\Open Classroom\Data Files\Titanic Dataset\testdata.csv")

# shape of the dataset
print('Shape of training data :',train_data.shape)
print('Shape of testing data :',test_data.shape)

# Now, we need to predict the missing target variable in the test data
# target variable - Survived

# seperate the independent and target variable on training data
train_x = train_data.drop(columns=['Survived'],axis=1)
train_y = train_data['Survived']

# seperate the independent and target variable on testing data
test_x = test_data.drop(columns=['Survived'],axis=1)
test_y = test_data['Survived']

'''
Create the object of the K-Nearest Neighbor model
You can also add other parameters and test your code here
Some parameters are : n_neighbors, leaf_size
Documentation of sklearn K-Neighbors Classifier: 

https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html

 '''
model = KNeighborsClassifier()  

# fit the model with the training data
model.fit(train_x,train_y)

# Number of Neighbors used to predict the target
print('\nThe number of neighbors used to predict the target : ',model.n_neighbors)

# predict the target on the train dataset
predict_train = model.predict(train_x)
print('\nTarget on train data',predict_train) 

# Accuray Score on train dataset
accuracy_train = accuracy_score(train_y,predict_train)
print('accuracy_score on train dataset : ', accuracy_train)

# predict the target on the test dataset
predict_test = model.predict(test_x)
print('Target on test data',predict_test) 

# Accuracy Score on test dataset
accuracy_test = accuracy_score(test_y,predict_test)
print('accuracy_score on test dataset : ', accuracy_test)

Shape of training data : (712, 25)
Shape of testing data : (179, 25)

The number of neighbors used to predict the target :  5

Target on train data [0 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0
 1 0 0 0 0 0 1 1 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 1 1 1 0 1 0 1 0 0 0 0 0 0
 0 1 1 0 0 0 0 0 1 0 1 0 0 0 1 1 1 0 1 0 0 0 0 0 1 0 0 1 0 1 1 1 0 1 0 1 0
 0 1 1 0 1 0 0 1 0 0 0 0 1 0 0 1 1 0 0 1 0 0 0 1 1 0 1 0 0 0 1 0 0 0 1 0 0
 0 0 0 1 1 0 0 1 0 0 1 0 1 0 0 1 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1
 0 0 1 1 1 0 0 1 0 1 0 0 0 1 1 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 1 0 1 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0 0 0
 1 1 1 1 1 0 1 1 1 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 0 0
 0 0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 0 0 0 1 1 0 1 0 0 1
 1 0 0 1 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 1 0 1 0
 0 0 0 1 0 0 1 0 0 1 0 1 0 0 1 0 0 1 0 0 1 1 1 1 0 0 1 1 0 1 0 1 0 1 1 1 1
 0 1 1 1 0 0 0 0 0 0 1 0 1 0 0 1 0 0 1 1 1 0 0 0 1 0 1 0 0 1 0 0 0 0 1 0 0
 0 1 0 0 0 0 0 0 1 0 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 1 0
 0 0 0 1 1 0 0 0 0 1 1 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1
 1 0 0 0 0 1 0 0 0 1 1 0 0 0 1 1 1 0 0 0 0 0 1 1 0 0 0 0 1 1 1 1 0 1 0 0 0
 0 1 1 1 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 1 0 0 0 1 1 1 0 1 1 1 0
 1 0 0 0 0 1 0 1 0 1 0 1 1 0 0 1 0 1 1 0 1 0 0 0 1 0 1 1 0 0 0 0 1 0 0 0 1
 0 0 0 1 0 1 0 1 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 1 1 1 0 1 0 0 0 1 0 1 0 0 0
 1 1 0 0 0 0 0 1 0 0 1 0 1 0 0 1 1 0 0 0 1 0 1 0 0 1 1 0 0 0 1 0 0 1 0 1 0
 1 0 1 1 1 0 0 1 0]
accuracy_score on train dataset :  0.8047752808988764
Target on test data [0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 0
 1 0 0 0 1 0 0 0 1 0 0 1 1 1 0 0 0 1 1 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 1 0 1 0 0 0 1 0 1 1 0 1 1 0 0 1 0 0 1
 0 1 0 0 1 0 1 0 1 1 0 1 0 0 1 1 0 0 1 0 0 0 1 1 0 0 0 1 0 1 0 1 0 0 0 0 0
 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0 0 0 1 1 0 1 0 1 0 0 1 0 0 0 0 0]
accuracy_score on test dataset :  0.7262569832402235

## Clustering

In [87]:
import pandas as pd

from sklearn.cluster import KMeans

In [85]:
train_data = pd.read_csv(r"D:\Open Classroom\Data Files\Annual Income\traindata.csv")
test_data = pd.read_csv(r"D:\Open Classroom\Data Files\Annual Income\testdata.csv")

train_data.head()

   Age  Annual Income (k$)  Spending Score (1-100)  Genre_Female  Genre_Male
0   30                  34                      73             1           0
1   36                 103                      85             1           0
2   54                 101                      24             1           0
3   28                 101                      68             0           1
4   24                  39                      65             1           0

In [86]:
train_data.shape, test_data.shape

((100, 5), (100, 5))

In [93]:
model = KMeans()

model.fit(train_data)

print("Default number of Clusters: ", model.n_clusters)

train_predict = model.predict(train_data)
print("\n\n Cluster on Train Data: \n", train_predict)

test_predict = model.predict(test_data)
print("\n\n Cluster on Test Data: \n", test_predict)

model_n3 = KMeans(n_clusters = 3)
model_n3.fit(train_data)

train_predict3 = model_n3.predict(train_data)
print("\n\nCluster (3) on Train Data: \n", train_predict3)

test_predict3 = model_n3.predict(test_data)
print("\n\nCluster (3) on Test Data: \n", test_predict3)

Default number of Clusters:  8


 Cluster on Train Data:
 [5 6 3 6 5 2 2 6 6 7 0 0 1 3 6 0 3 4 2 5 4 1 1 3 4 3 0 0 3 1 4 1 1 3 3 0 7
 0 7 1 3 7 0 0 3 1 1 3 6 0 1 3 2 0 3 0 2 7 5 4 1 5 2 3 1 3 4 1 1 0 2 0 5 2
 6 6 5 1 2 1 2 1 0 2 7 2 3 1 7 1 4 6 0 3 0 2 1 5 0 5]


 Cluster on Test Data:
 [1 5 7 3 2 5 3 1 2 4 1 4 2 2 2 1 1 2 2 6 3 3 2 2 1 2 3 5 2 3 0 5 1 2 5 3 0
 6 1 3 3 5 7 3 2 1 2 6 1 1 4 5 1 0 5 1 0 1 1 7 1 1 2 0 6 2 0 2 1 1 2 7 3 0
 2 3 1 3 1 5 1 2 4 3 7 5 1 2 5 3 5 4 1 2 3 5 5 5 0 3]


Cluster (3) on Train Data:
 [1 2 0 2 1 0 1 2 2 1 2 2 1 0 2 2 0 1 1 1 1 1 1 0 1 0 2 2 0 1 1 1 1 0 0 2 1
 2 1 1 0 1 2 2 0 1 1 0 2 2 1 0 1 2 0 2 1 1 1 1 1 1 1 0 1 0 1 1 1 2 0 2 1 1
 2 2 2 1 2 1 1 1 2 1 1 1 0 1 1 1 1 2 2 0 2 1 1 1 2 1]


Cluster (3) on Test Data:
 [1 1 1 0 1 1 0 1 1 1 1 1 1 0 0 1 1 1 1 2 0 0 1 1 1 1 0 1 1 0 2 1 1 1 1 0 2
 2 1 0 0 1 1 0 1 1 1 2 1 1 1 1 1 2 1 1 2 1 1 1 1 1 1 2 2 1 2 1 1 1 2 1 0 2
 1 0 1 0 1 2 1 1 1 0 1 1 1 1 1 0 1 1 1 1 0 1 1 1 2 0]

In [1]:
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split

In [4]:
x, y = load_boston(return_X_y = True)

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.4, random_state = 0)

#### Training the load_boston dataset Using Regression Algorithms
###### The measure of accuracy obtained with .score() is the coefficient of determination. the score obtained with the test set represents an unbiased estimation of performance.

In [19]:
# Linear Regression Algorithm

from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train, y_train)

train_score = model.score(x_train, y_train)
print(f'Train Model Score: {round(train_score * 100)}')

test_score = model.score(x_test, y_test)
print(f'Test Model Score: {round(test_score * 100)} ')

Train Model Score: 77.0
Test Model Score: 69.0

In [24]:
# Gradient Boosting Regressor Algorithm

from sklearn.ensemble import GradientBoostingRegressor

model = GradientBoostingRegressor(random_state = 0)

model.fit(x_train, y_train)

train_score = model.score(x_train, y_train)
print(f'Train Model Score: {(train_score * 100)}')

test_score = model.score(x_test, y_test)
print(f'Test Model Score: {(test_score * 100)}')

Train Model Score: 98.59065238883613
Train Model Score: 85.3012743648215

In [26]:
# Random Forest Regressor Algorithm

from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state = 0)

model.fit(x_train, y_train)

train_score = model.score(x_train, y_train)
print(f'Train Model Score: {round(train_score * 100)}')

test_score = model.score(x_test, y_test)
print(f'Test Model Score: {round(test_score * 100)}')

Train Model Score: 98.0
Train Model Score: 83.0